# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Vim swap files
*.swp
.*.swp

# Large data
data/
results/
logs/
output_files/

# IDE
.vscode/
.idea/
dbcan/
